annotated-types==0.7.0
anyio==4.13.0
click==8.3.3
fastapi==0.115.0
flatbuffers==20181003210633
h11==0.16.0
httptools==0.7.1
idna==3.13
numpy==2.4.4
onnxruntime==1.25.0
opencv-python-headless==4.13.0.92
packaging==26.2
protobuf==7.34.1
pydantic==2.13.3
pydantic_core==2.46.3
python-dotenv==1.2.2
PyYAML==6.0.3
starlette==0.38.6
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.30.6
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
